/* MAIN */

.main {
    margin-bottom: 50px;
    position: relative;
    background-color: green;
}


/* MIDDLE */

.middle {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: blue;
}